.main {
  display: flex;
  flex-direction: column;
}

canvas {
  border: 1px;
  border-style: solid;
}

.controls {
  display: flex;
}

.buttons {
  padding: 0.5em 1em 0 0;
}

button {
  margin: 0.5em 1em;
}

.hue {
  display: flex;
  flex-direction: column;
}

.hue-step {
  display: flex;
  padding: 0.5em 0 0 0;
}

.hue-offset {
  display: flex;
  padding: 0.5em 0 0 0;
}

.flex-baseline {
  align-self: baseline;
}
