%flex-col {
  display: flex;
  flex-direction: column;
}

.main {
  @extend %flex-col;
}

canvas {
  border: 1px;
  border-style: solid;
  margin: 8px;
}

.controls {
  display: flex;
}

.hue {
  @extend %flex-col;
  width: 100%;
}

.slider-and-input {
  display: flex;
  padding: 0.5em 0 0 0;
  justify-content: space-evenly;
}

.slider-container {
  align-self: baseline;
  width: 75%;
}

.flex-baseline {
  align-self: baseline;
}

.controls .hue {
  mat-slider {
    margin-right: 1em;
    width: 100%;
  }

  mat-form-field {
    width: 4em;
  }
}
